<h1 align="center">Welcome!</h1>

<table height="300px" width="600" border="1" align="center" style="border-color: blue; border-width: 2px; background-color: black">
  <tr><td>
    <%= image_tag("spaghetti_astronaut.jpg") %>
  </td></tr>
</table>

<br>
<br>
<div>
  <p style="font-size: large; text-align: justify">
    Learn with us about the densest objects in Space, what they have in common with the brightest
    objects in the Universe, and why they create spaghetti. Are you ready to get your facts straight?
    We will teach you in several short lessons what black holes are, how they are created and how they
    influence Earth.
  </p>
  <br>
  <p style="font-size: large; text-align: justify">If you finish our course, you can name a star in the Sky as a reward!
    Start your course and <%= link_to "sign up " , '/users/sign_up'%> now!</p>
</div>