<%- model_class = Lecture -%>
<div class="page-header">
  <h2><%= @lecture.lesson.name %></h2>
  <h1><%=t @lecture.name %></h1>
</div>

<dl class="dl-horizontal">
  <dl><%= @lecture.reading.html_safe %></dl>
</dl>
